<div class="ui secondary vertical pointing fluid menu">

    <a class="item {% if request.path == "/bacia-hidrografica/"  %}active {% endif %}" href="{% url 'bacia_hidrografica_listar' %}">
        Bacias Hidrográficas
    </a>

    <a class="item {% if request.path == "/rio/"  %}active {% endif %}" href="{% url 'rio_listar' %}">
        Rios
    </a>

    <a class="item {% if request.path == "/ponto/"  %}active {% endif %}" href="{% url 'ponto_listar' %}">
        Pontos
    </a>

    <a class="item {% if request.path == "/coleta/"  %}active {% endif %}" href="{% url 'coleta_listar' %}">
        Coletas
    </a>

</div>