{% extends 'base.html' %}

{% block menu %}
    {% include 'menu/menuPaginaInicial.html' %}
{% endblock %}

{% block conteudo %}

    <div class="two wide column"></div>
    <article class="twelve wide column organize">

        <div class="row ui segment">

            <nav class="ui text stackable menu centro">
                <h2 class="ui header">
                    Recuperar Senha
                </h2>
            </nav>

            <form method="POST" action="{% url 'recuperar_senha_email' %}" class="ui content form" onsubmit="
            if(form_being_submitted) {
                alert('Envio em andamento, aguarde um instante ...');
                recuperar.disabled = true;
                return false;
            }
            if(checkForm(this)) {
                recuperar.value = 'Enviando email ...';
                form_being_submitted = true;
                return true;
            }
            return false;">
                {% csrf_token %}
                {% if erro %}
                    <div class="ui negative message centralizar"><i class="close icon"></i>
                        <div class="header">Email incorreto ou não existente!</div>
                        <p>Por favor, verifique-o e tente novamente.</p>
                    </div>
                {% elif sucesso %}
                    <div class="ui positive message centralizar">
                        <i class="close icon"></i>
                        <div class="header">
                            Email enviado com sucesso!
                        </div>
                        <p>Por favor, verifique sua caixa de entrada</p>
                    </div>
                {% endif %}

                <div class="ui grid space centro">
                    <div class="field eight wide">
                        <label>Email</label>
                        <div class="ui corner labeled input">
                            {{ form.email }}
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="actions space_recuperar centro">
                    <a class="ui deny button" href="{% url 'index' %}">
                        Voltar
                    </a>
                    <input type="submit" class="ui right teal button" value="Recuperar Senha" name="recuperar"/>
                </div>

        </div>

        </form>
    </article>

    {% include 'modal/modalAcessarConta.html' %}

{% endblock %}

