<div class="ui modal modalSobre">
    <i class="close icon"></i>
    <div class="header">
        <i class="ui clipboard small teal inverted circular icon"></i> Sobre o Projeto!
    </div>
    <div class="ui large message"><p>A qualidade da água das bacias hidrográficas é frequentemente relacionada com o seu
        entorno no que se refere ao uso do solo e vegetação. Os índices de qualidade de água
        podem ser relacionados com fontes poluidoras como, por exemplo, atividades pecuárias,
        agrícolas e industriais. O objetivo desse trabalho é propor uma forma de monitorar bacias
        hidrográficas utilizando a técnica de Raciocínio Baseado em Casos (RBC) onde serão
        definidos um conjunto de regras que identifiquem a qualidade da água e façam a relação
        dos índices obtidos com o seu entorno. A partir da análise laboratorial da água a aplicação
        irá classificar a qualidade das bacias hidrográficas em diferentes períodos representando o
        histórico da dinâmica da paisagem.</p></div>
    <div class="ui corner labeled segment">


    </div>

</div>