{% extends 'base.html' %}
{% block menu %}
    {% include 'menu/menuPrincipal.html' %}
{% endblock %}

{% block conteudo %}

    <div class="two wide column">
        {% include 'menu/menuVertical.html' %}
    </div>

    <article class="twelve wide column" id="teste">
        <nav class="ui text stackable menu">
            <h2 class="ui header">Rios</h2>
        </nav>
        <table class="ui striped celled unstackable table">
            <thead>
            <tr>
                <th class="no-sort" colspan="6">
                    <div class="ui teal ribbon large label">Lista de Rios</div>
                    <button class="right floated ui labeled botaoUpload icon button adicionarRio">
                        <i class="icon add"></i>
                        Adicionar Rio
                    </button>
                </th>
            </tr>
            </thead>
        </table>
        <div class="ui top attached tabular menu">
            <div class="{% if not ativo %}active {% endif %} item" data-tab="first">Meus Rios</div>
            <div class="{% if ativo %}active {% endif %} item" data-tab="second">Outros Rios</div>
        </div>

        <div class="ui tab tabular attached bottom segment {% if not ativo %}active {% endif %}" data-tab="first">
            <div class="row">
                <nav class="ui text stackable menu">
                    <div class="ui right floated selection search dropdown item">
                        <input type="hidden" name="bacia_hidro" id="BaciaHidrografica">
                        <i class="dropdown icon"></i>
                        <div class="default text">Bacia Hidrográfica</div>
                        <div class="menu">
                            <a class="item" id="bh_pes" href="{% url 'rio_listar' %}">Todos</a>

                            {% for bh in bhs %}
                                <a class="item" id="bh_pes" href="?bacia={{ bh.id }}">{{ bh.nome }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </nav>
            </div>
            <table class="ui striped celled unstackable table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Dimensão</th>
                    <th id="bacia">Bacia Hidrográfica</th>
                    <th class="collapsing center aligned" colspan="3">Ações</th>
                </tr>
                </thead>
                <tbody id="tbrio">
                {% if dados %}
                    {% for dado in dados %}
                        <tr>
                            <td>{{ dado.nome }}</td>
                            <td>{{ dado.dimensao }}</td>
                            <td id="bacia{{ dado.id }}">{{ dado.bacia_hidrografica.nome }}</td>
                            <td class="collapsing center aligned">
                                <input type="hidden" id="{{ dado.id }}" value=" {{ dado.nome }}"/>
                                <a class="cursorPointer editarRio"
                                   onclick="rio_editar({{ dado.id }}); page({{ bacia }}, {{ dados.number }})">
                                    <i class="ui write grey large icon"></i>
                                </a>
                            </td>

                            <td class="collapsing center aligned">
                                <a class="cursorPointer excluirRio" onclick="rio_excluir({{ dado.id }});">
                                    <i class="ui trash red large icon"></i>
                                </a>
                            </td>
                            <td class="collapsing center aligned">
                                {% if dado.publico %}
                                    <div class="ui fitted toggle checkbox visualizacao tooltip" data-tooltip="Público"
                                         data-position="top center"
                                         onclick="publico({{ dado.id }}, {{ bacia }}, {{ dados.number }})">
                                        <i class="ui eye green large icon"></i>
                                    </div>
                                {% else %}
                                    <div class="ui fitted toggle checkbox visualizacao tooltip" data-tooltip="Privado"
                                         data-position="top center"
                                         onclick="publico({{ dado.id }}, {{ bacia }}, {{ dados.number }})">
                                        <i class="ui eye slash outline large icon"></i>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>Não há dados cadastrados.</td>
                    </tr>
                {% endif %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui right floated pagination secondary menu" id="page">
                            {% if dados.has_previous %}
                                {% if bacia %}
                                    {% if bacia != 0 %}
                                        <a href="?bacia={{ bacia }}&page={{ dados.previous_page_number }}"
                                           class="icon item">
                                            <i class="left chevron icon"></i>
                                        </a>
                                    {% else %}
                                        <a href="?page={{ dados.previous_page_number }}" class="icon item">
                                            <i class="left chevron icon"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="?page={{ dados.previous_page_number }}" class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                            <a class="item">Página {{ dados.number }} de {{ dados.paginator.num_pages }}</a>
                            {% if dados.has_next %}
                                {% if bacia %}
                                    {% if bacia != 0 %}
                                        <a href="?bacia={{ bacia }}&page={{ dados.next_page_number }}"
                                           class="icon item">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    {% else %}
                                        <a href="?page={{ dados.next_page_number }}" class="icon item">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="?page={{ dados.next_page_number }}" class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="ui tab tabular attached bottom segment {% if ativo %}active {% endif %}" data-tab="second">
            <div class="row">
                <nav class="ui text stackable menu">
                    <div class="ui right floated selection search dropdown item">
                        <input type="hidden" name="bacia_hidro_outros" id="BaciaHidrografica">
                        <i class="dropdown icon"></i>
                        <div class="default text">Bacia Hidrográfica</div>
                        <div class="menu">
                            <a class="item" id="bh_pes" href="?ativo=0">Todos</a>
                            {% for bh_outro in bhs_outros %}
                                <a class="item" id="bh_pes"
                                   href="?bacia_outros={{ bh_outro.id }}&ativo=0">{{ bh_outro.nome }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </nav>
            </div>
            <table class="ui striped celled unstackable table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Dimensão</th>
                    <th>Bacia Hidrográfica</th>
                    <th class="collapsing center aligned" colspan="1">Copiar</th>
                </tr>
                </thead>
                <tbody id="tbrio_outros">
                {% if dados_outros %}
                    {% for dado_outro in dados_outros %}
                        <tr>
                            <td>{{ dado_outro.nome }}</td>
                            <td>{{ dado_outro.dimensao }}</td>
                            <td id="bacia{{ dado_outro.id }}">{{ dado_outro.bacia_hidrografica.nome }}</td>
                            <input type="hidden" id="{{ dado_outro.id }}" value=" {{ dado_outro.nome }}"/>
                            <td class="collapsing center aligned">
                                <a class="cursorPointer copiar" onclick="copiar({{ dado_outro.id }});">
                                    <i class="ui copy blue large icon"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>Não há dados cadastrados.</td>
                    </tr>
                {% endif %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui right floated pagination secondary menu" id="outros">
                            {% if dados_outros.has_previous %}
                                {% if bacia_outros %}
                                    {% if bacia_outros != 0 %}
                                        <a href="?bacia_outros={{ bacia_outros }}&outros={{ dados_outros.previous_page_number }}"
                                           class="icon item">
                                            <i class="left chevron icon"></i>
                                        </a>
                                    {% else %}
                                        <a href="?outros={{ dados_outros.previous_page_number }}" class="icon item">
                                            <i class="left chevron icon"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="?outros={{ dados_outros.previous_page_number }}" class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                            <a class="item">Página {{ dados_outros.number }}
                                de {{ dados_outros.paginator.num_pages }}</a>
                            {% if dados_outros.has_next %}
                                {% if bacia_outros %}
                                    {% if bacia_outros != 0 %}
                                        <a href="?bacia_outros={{ bacia_outros }}&outros={{ dados_outros.next_page_number }}"
                                           class="icon item">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    {% else %}
                                        <a href="?outros={{ dados_outros.next_page_number }}" class="icon item">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="?outros={{ dados_outros.next_page_number }}" class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </article>

    {% include 'rio/modalAdicionarRio.html' %}
    {% include 'rio/modalEditarRio.html' %}
    {% include 'rio/modalExcluirRio.html' %}
    {% include 'modal/modalPublico.html' %}
    {% include 'modal/modalCopiar.html' %}

{% endblock %}