<div class="ui modal modalAdicionarRio">
    <i class="close icon"></i>
    <div class="header">
        <i class="ui add small teal inverted circular icon"></i> Cadastrar Rio
    </div>

    <form method="POST" action="{% url 'rio_add' %}" class="ui content form">
        <input type="hidden" name="diferencial" value="{{ diferencial }}">

        {% csrf_token %}

        <div class="ui grid">
            <div class="field ten wide">
                <label>Nome do Rio</label>
                {{ formRio.nome.errors }}
                <div class="ui corner labeled input">
                    {{ formRio.nome }}
                    <div class="ui corner label">
                        <i class="asterisk icon"></i>
                    </div>
                </div>
            </div>

            <div class="field six wide">
                <label>Dimensão</label>
                {{ formRio.dimensao.errors }}
                <div class="ui corner labeled input">
                    {{ formRio.dimensao }}
                    <div class="ui corner label">
                        <i class="asterisk icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="field space">
            <label>Bacia Hidrográfica</label>
            <div class="ui corner labeled input">
                <select onchange="bacia_para_rio()" name="bacia_hidrografica" id="bhModal">
                    <option value="selecione">Selecione uma bacia hidrográfica</option>
                    {% for bh in bhs %}
                        <option value="{{ bh.id }}">{{ bh.nome }}</option>
                    {% endfor %}
                </select>
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>

        <div class="actions">
            <div class="ui deny button">
                Cancelar
            </div>
            <input type="submit" class="ui right teal button" value="Cadastrar"/>
        </div>
    </form>

</div>