{% extends 'base.html' %}
{% block menu %}
    {% include 'menu/menuPrincipal.html' %}
{% endblock %}

{% block conteudo %}


    <div class="two wide column">
        {% include 'menu/menuVertical.html' %}
    </div>

    <article class="twelve wide column">

        <div class="row">
            <nav class="ui text stackable menu">
                <h2 class="ui header">
                    Pontos
                </h2>
            </nav>
        </div>

        <table class="ui striped celled unstackable table">
            <thead>
            <tr>
                <th class="no-sort" colspan="6">
                    <div class="ui teal ribbon large label">Lista de Pontos</div>
                    <button class="right floated ui labeled botaoUpload icon button adicionarPonto">
                        <i class="icon add"></i>
                        Adicionar Ponto
                    </button>
                </th>
            </tr>
            </thead>
        </table>
        <div class="ui top attached tabular menu">
            <div class="{% if not ativo %}active {% endif %} item" data-tab="first">Meus Pontos</div>
            <div class="{% if ativo %}active {% endif %} item" data-tab="second">Outros Pontos</div>
        </div>
        <div class="ui tab tabular attached bottom segment {% if not ativo %}active {% endif %}" data-tab="first">
            <div class="row">
                <nav class="ui text stackable menu">
                    <div class="ui right floated selection search dropdown item">
                        <input type="hidden" name="Rio">
                        <i class="dropdown icon"></i>
                        <div class="default text">Rio</div>
                        <div class="menu">
                            <a class="item" id="rio_pes" href="{% url 'ponto_listar' %}">Todos</a>

                            {% for rio in rios %}
                                <a class="item" id="rio_pes" href="?rio={{ rio.id }}">{{ rio.nome }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </nav>
            </div>
            <table class="ui striped celled unstackable table">
                <thead>
                <tr>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Rio</th>
                    <th id="bacia">Bacia Hidrográfica</th>
                    <th class="collapsing center aligned" colspan="3">Ações</th>
                </tr>
                </thead>
                <tbody id="tbpontos">
                {% if dados %}
                    {% for dado in dados %}
                        <tr>
                            <td>{{ dado.latitude }}</td>
                            <td>{{ dado.longitude }}</td>
                            <td id="rio{{ dado.id }}">{{ dado.rio.nome }}</td>
                            <td id="bacia{{ dado.id }}">{{ dado.rio.bacia_hidrografica.nome }}</td>
                            <input type="hidden" id="{{ dado.id }}" value="sse ponto"/>
                            <td class="collapsing center aligned">
                                <a class="cursorPointer editarPonto" onclick="ponto_editar({{ dado.id }}); page({{ dado.rio.bacia_hidrografica.id }}, {{ dados.number }});">
                                    <i class="ui write grey large icon"></i>
                                </a>
                            </td>
                            <td class="collapsing center aligned">
                                <a class="cursorPointer excluirPonto" onclick="ponto_excluir({{ dado.id }});">
                                    <i class="ui trash red large icon"></i>
                                </a>
                            </td>
                            <td class="collapsing center aligned">
                                {% if dado.publico %}
                                    <div class="ui fitted toggle checkbox visualizacao tooltip" data-tooltip="Público"
                                         data-position="top center" onclick="publico({{ dado.id }}, {{ dado.rio.bacia_hidrografica.id }}, {{ dados.number }})">
                                        <i class="ui eye green large icon"></i>
                                    </div>
                                {% else %}
                                    <div class="ui fitted toggle checkbox visualizacao tooltip" data-tooltip="Privado"
                                         data-position="top center" onclick="publico({{ dado.id }}, {{ dado.rio.bacia_hidrografica.id }}, {{ dados.number }})">
                                        <i class="ui eye slash outline large icon"></i>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>Não há dados cadastrados.</td>
                    </tr>
                {% endif %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui right floated pagination secondary menu" id="page">
                            {% if dados.has_previous %}
                                {% if rio %}
                                    {% if rio != 0 %}
                                        <a href="?rio={{ rio }}&page={{ dados.previous_page_number }}" class="icon item">
                                            <i class="left chevron icon"></i>
                                        </a>
                                    {% else %}
                                        <a href="?page={{ dados.previous_page_number }}" class="icon item">
                                            <i class="left chevron icon"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="?page={{ dados.previous_page_number }}" class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                            <a class="item">Página {{ dados.number }} de {{ dados.paginator.num_pages }}</a>
                            {% if dados.has_next %}
                                {% if rio %}
                                    {% if rio != 0 %}
                                        <a href="?rio={{ rio }}&page={{ dados.next_page_number }}" class="icon item">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    {% else %}
                                        <a href="?page={{ dados.next_page_number }}" class="icon item">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="?page={{ dados.next_page_number }}" class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="ui tab tabular attached bottom segment {% if ativo %}active {% endif %}" data-tab="second">
            <div class="row">
                <nav class="ui text stackable menu">
                    <div class="ui right floated selection search dropdown item">
                        <input type="hidden" name="rio_outro">
                        <i class="dropdown icon"></i>
                        <div class="default text">Rio</div>
                        <div class="menu">
                            <a class="item" id="rio_pes" href="?ativo=0">Todos</a>
                            {% for rio_outro in rios_outros %}
                                <a class="item" id="rio_pes" href="?rio_outros={{ rio_outro.id }}&ativo=0">{{ rio_outro.nome }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </nav>
            </div>
            <table class="ui striped celled unstackable table">
                <thead>
                <tr>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Rio</th>
                    <th id="bacia">Bacia Hidrográfica</th>
                    <th class="collapsing center aligned" colspan="1">Copiar</th>
                </tr>
                </thead>
                <tbody id="tbpontos_outros">
                {% if dados_outros %}
                    {% for dado_outro in dados_outros %}
                        <tr>
                            <td>{{ dado_outro.latitude }}</td>
                            <td>{{ dado_outro.longitude }}</td>
                            <td id="rio{{ dado_outro.id }}">{{ dado_outro.rio.nome }}</td>
                            <td id="bacia{{ dado_outro.id }}">{{ dado_outro.rio.bacia_hidrografica.nome }}</td>
                            <input type="hidden" id="{{ dado_outro.id }}" value="sse ponto"/>
                            <td class="collapsing center aligned">
                                <a class="cursorPointer copiar" onclick="copiar({{ dado_outro.id }});">
                                    <i class="ui copy blue large icon"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>Não há dados cadastrados.</td>
                    </tr>
                {% endif %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui right floated pagination secondary menu" id="outros">
                            {% if dados_outros.has_previous %}
                                {% if rio_outros %}
                                    {% if rio_outros != 0 %}
                                        <a href="?rio_outros={{ rio_outros }}&outros={{ dados_outros.previous_page_number }}" class="icon item">
                                            <i class="left chevron icon"></i>
                                        </a>
                                    {% else %}
                                        <a href="?outros={{ dados_outros.previous_page_number }}" class="icon item">
                                            <i class="left chevron icon"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="?outros={{ dados_outros.previous_page_number }}" class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                            <a class="item">Página {{ dados_outros.number }} de {{ dados_outros.paginator.num_pages }}</a>
                            {% if dados_outros.has_next %}
                                {% if rio_outros %}
                                    {% if rio_outros != 0 %}
                                        <a href="?rio_outros={{ rio_outros }}&outros={{ dados_outros.next_page_number }}" class="icon item">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    {% else %}
                                        <a href="?outros={{ dados_outros.next_page_number }}" class="icon item">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="?outros={{ dados_outros.next_page_number }}" class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </article>

    {% include 'ponto/modalAdicionarPonto.html' %}
    {% include 'ponto/modalEditarPonto.html' %}
    {% include 'ponto/modalExcluirPonto.html' %}
    {% include 'modal/modalPublico.html' %}
    {% include 'modal/modalCopiar.html' %}

{% endblock %}