{% extends 'base.html' %}

{% block menu %}
    {% include 'menu/menuPrincipal.html' %}
{% endblock %}

{% block conteudo %}
    <div class="two wide column"></div>
    <article class="twelve wide column">
        <h3 class="ui center aligned icon header">
            <i class="history arvore circular icon"></i>
            <div class="content">
                Histórico de Monitoramento
            </div>
        </h3>

        <form action="{% url 'historico_detalhes' %}" method="POST">

            {% csrf_token %}

            <div class="ui secondary segment large form formMonitoramento">
                <div class="ui grid">
                    <div class="field five wide">
                        <label>Selecionar Bacia Hidrográfica</label>
                        <select onchange="bacia_para_rio()" name="bh" id="bh" required="True">
                            <option value="selecione">Selecione uma bacia hidrográfica</option>
                            {% for bh in bhs %}
                                <option value="{{ bh.id }}">{{ bh.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="field five wide">
                        <label>Selecionar Rio</label>
                        <select onchange="rio_para_ponto(); enviar()" name="rio" id="rio" disabled="True" required="True">
                            <option value="selecione">Selecione primeiro uma bacia hidrográfica</option>
                        </select>
                    </div>

                    <div class="field five wide">
                        <label>Selecionar Ponto</label>
                        <select onchange="ponto_para_coleta(); enviar()" name="ponto" id="ponto_monitoramento"
                                disabled="True" required="True">
                            <option value="selecione">Selecione primeiro um rio</option>
                        </select>
                    </div>

                </div>
                <div class="ui two bottom attached buttons space">
                    <a class="ui left labeled icon secundary button" href="{% url 'index' %}">
                        <i class="left arrow icon"></i>
                        Voltar
                    </a>
                    <button type="submit" class="ui right labeled icon botaoProximo button botao" disabled>
                        <i class="right arrow icon"></i>
                        Próximo Passo
                    </button>
                </div>
            </div>
        </form>

    </article>
    <div class="two wide column"></div>

{% endblock %}